
    <div class="container-fluid sb1">
        <div class="row" style="height: 60px;">
            <!--== LOGO ==-->
            <div class="col-md-2 col-sm-3 col-xs-6 sb1-1">
                <a href="#" class="btn-close-menu"><i class="fa fa-times" aria-hidden="true"></i></a>
<!-- 
                <a href="#" class="logo"><img src="/assets/images/logo1.png" alt="" />
                </a> -->
            </div>
              </div>
    </div>




        <div class="app">
        <!-- START APP CONTAINER -->
        <div class="app-container">
            <div class="app-login-box">
                <div class="app-login-box-user">
               <!--  <img src="/assets/images/logo1.png" alt="John Doe" style="border-radius:0;"></div> -->
                <div class="app-login-box-title">
                    <div class="title">Superadmin Login</div>
                    <div class="subtitle">Sign in to your account</div>
                </div>
                <div class="app-login-box-container">
                    <form name="myForm" >
                        <div class="form-group">
                          <input type="email" class="form-control" name="email" placeholder="Email" ng-model="email" required>
                         

                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password" placeholder="Password" ng-model="password" required>
                            <!-- <span class="error" ng-show="myForm.password.$error.required">
                              Required!</span> -->
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <div class="app-checkbox">
                                        <label>
                                            <input type="checkbox" name="app-checkbox-1" value="0" ng-click="home()"> 
                                            <i class="fa fa-home" aria-hidden="true"></i>Home</label>
                                           <br>
                                            <p> <a data-toggle="modal" data-target="#myModalHorizontal">Forgot Password
                                                </a> </p>
                                                </form>

    <!-- Modal -->
    <div class="modal fade" id="myModalHorizontal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close"
                       data-dismiss="modal">
                           <span aria-hidden="true">&times;</span>
                           <span class="sr-only">Close</span>
                    </button>
        <label>            <h3 class="modal-title" id="myModalLabel">
                          Change your password
            </h3> </label>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">

                     <form class="form-horizontal" role="form" name="adminforgotform">
                      <div class="form-group">
                        <label  class="col-sm-2 control-label"
                                  for="inputEmail3">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control"
                            id="inputEmail3" ng-model="adminemail" name="adminemail" required="required">
                            <!-- <span class="error" ng-show="adminforgotform.adminemail.$error.required">*</span> -->
                            <span class="error" ng-show="adminforgotform.adminemail.$error.email">
                              Not valid email!</span>
                        </div>


                      </div>
                       <div class="form-group">
                        <label class="col-sm-2 control-label"
                              for="inputPassword3" > New Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control"
                                id="inputPassword3" ng-model="newpass" ng-required="true" name="newpass" required="required" ng-pattern="passwordpattern" maxlength="16" minlength="6"/>
                               
                                 <span class="error" ng-show="adminforgotform.newpass.$error.pattern">Password length should be 6-16 alphanumeric value</span>

                        </div>

                      </div>
                         <div class="form-group">
     <label class="col-sm-2 control-label" for="inputPassword3" > Confirm Password</label>
                        <div class="col-sm-10">
                          
                                <input type="password" class="form-control"
                                    id="inputPassword3" ng-model="confirmpass" ng-required="true" name="confirmpass" required="required" ng-pattern="passwordpattern" maxlength="16" minlength="6"/>
                                    <!-- <span class="error" ng-show="adminforgotform.confirmpass.$error.required">*</span> -->
                                     <span class="error" ng-show="adminforgotform.confirmpass.$error.pattern">Password length should be 6-16 alphanumeric value</span>
                        </div>
                        
                      </div>
                    </form>






                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">
                                Close
                    </button>
                    <button type="button" class="btn btn-danger" ng-click="forgotadmin()">
                      Confirm
                    </button>
                </div>
            </div>
        </div>
    </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    <!-- <button class="btn btn-success btn-block"> <a href="Teller.html" style="color:white;">Sign In </a></button> -->
                                    <button class="btn btn-success btn-block" ng-click="sub()">Sign In </button>
                                </div>
                            </div>
                        </div>
                    
                </div>


            </div>
        </div>
        <!-- END APP CONTAINER -->
    </div>

     <!--== BOTTOM FLOAT ICON ==-->
    <div>
    <canvas id="canvas-radial"></canvas>
    </div>
    <!--======== SCRIPT FILES =========-->
      <style>
    .error {
      color:red
    }
    <script>
        var granimInstance = new Granim({
    element: '#canvas-radial',
    name: 'radial-gradient',
    direction: 'radial',
    opacity: [1, 1],
    isPausedWhenNotInView: true,
    states : {
        "default-state": {
            gradients: [
                ['#ffb347', '#ffcc33'],
                ['#83a4d4', '#b6fbff'],
                ['#9D50BB', '#6E48AA']
            ]
        }
    }
}); </script>
