
<body style="background-color:#3b5e8a">
  <br>
  <div class="container">
	<div class="col-sm-4"></div>
	<div style="background-color: #D9D9F3;opacity: 0.8;" class="jumbotron col-sm-4">

  <form>
  <div class="form-group">
  <div class="input-group">
  <div class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></div>
  <input name="user" id="user" type="text" class="form-control" placeholder="Username" required="required" ng-model="Username">
  </div>
</div>
<div class="form-group">
  <div class="input-group">
  <div class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></div>
  <input name="password" id="password" type="password" class="form-control" placeholder="Password" required="required" ng-model="Password">
 </div>
</div>
<button type="submit" class="btn btn-info" id="login-btn" style="background-color:#006400;" ng-click="first()"><font color="#7FFF00"><strong>Login</strong></font></button>



</form>
</div>
</div>
</body>
