<p>
  To change login password for <strong><%= handle %></strong> as requested, please visit:
</p>
<p>
  <%= changePassURL %>
</p>
<p>
  The link expires in about an hour.
</p>
<p>
  Please ignore this message if you didn't request the password change.
</p>
